.dashboard-container {
    width: 100%;
    height: 100%;

    background-color: #F0F0F0;
}

/* NAVIGATION */
.dashboard-container .navigation {
    display: flex;
    justify-content: space-between;

    background-color: #28303B;

    padding: 1.4rem 6rem;
}

.dashboard-container .navigation button {
    display: flex;
    align-items: center;
    gap: .6rem;

    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.5rem;

    color: #FCFCFC;
    background-color: transparent;
}

.dashboard-container main {
    padding: 4rem;
}

/* HEADING */
.dashboard-container .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 3.4rem 4.2rem;
    border-radius: 1.6rem;

    color: #FCFCFC;
    background-color: #2B303B;

    background-image: url('/assets/images/heading-pattern.svg');
    background-repeat: no-repeat;
    background-position: right;
}

.dashboard-container .heading p {
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 3.4rem;
}

.dashboard-container .heading div {
    display: flex;
    align-items: center;
    gap: 1rem;

    padding-right: 6rem;
}

.dashboard-container .heading div p {
    font-size: 36px;
    line-height: 49px;
}

.dashboard-container .heading div span {
    text-align: start;

    font-size: 1.4rem;
    line-height: 1.8rem;
}

.dashboard-container .list {
    display: flex;
    flex-direction: column;
    gap: 1.4rem;

    background-color: #FCFCFC;
    border-radius: 0 0 1.6rem 1.6rem;

    padding: 4rem;
}

/* INPUT */
.dashboard-container .search {
    width: 60%;
    font-weight: normal;
    background-color: #E2E4E9;
}

.dashboard-container .search-button {
    position: absolute;
    background-color: transparent;

    top: 50%;
    left: calc(60% - 1.8rem);
    transform: translate(-100%, -50%);
}

/* ITEM */
.dashboard-container .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6rem;

    background-color: #eeeeee;
    border-radius: 1.6rem;
}

/* TITLE */
.dashboard-container .item .title {
    text-align: start;
    margin-left: 2rem;
}

.dashboard-container .item .title p {
    font-size: 1.4rem;
    line-height: 2rem;
    letter-spacing: 0.075rem;

    color: #6C7892;
}

.dashboard-container .item .title p:first-of-type { font-weight: bold; }
.dashboard-container .item .title p:last-of-type { color: #828282; }

/* BADGE */
.dashboard-container .item .status {
    display: flex;
    justify-content: center;

    min-width: 16rem;
}

.dashboard-container .item .badge {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;

    padding: 0.6rem 1.6rem;
    gap: 0.6rem;

    background: #374F66;
    color: #FCFCFC;
    border-radius: 0.8rem;
}

.dashboard-container .item .badge span {
    font-size: 3rem;
    line-height: 0;
}

.dashboard-container .item .badge p {
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 1.6rem;
}

.dashboard-container .item .badge.archived { background-color: #374f66; }
.dashboard-container .item .badge.signed { background-color: #3598dc; }
.dashboard-container .item .badge.awaiting-approval { background-color: #f5650c; }
.dashboard-container .item .badge.awaiting-signature { background-color: #0ecdd9; }
.dashboard-container .item .badge.under-review { background-color: #f1c40f; }

/* DESCRIPTION */
.dashboard-container .item > div:not(.description) { flex-shrink: 0; }
.dashboard-container .item .description {
    display: grid;
    position: relative;
    flex-grow: 1;
}

.dashboard-container .item .description p {
    word-wrap: break-word;

    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;

    text-align: start;
    max-height: calc(3 * 1.6rem);

    font-size: 1.2rem;
    line-height: 1.6rem;
    letter-spacing: 1px;
}

.dashboard-container .item .description span { font-weight: bold; }

/* MEMBERS */
.dashboard-container .item .members {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;

    padding: 1.2rem 1.6rem 0.8rem 1.2rem;
    background: #F5F5F5;
}

.dashboard-container .item .members p {
    text-align: start;
    color: #6C7892;

    font-weight: bold;
    font-size: 1.2rem;
    line-height: 1.6rem;
}

.dashboard-container .item .members .avatars {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 0.6rem;
}

/* AVATAR */
.dashboard-container .item .members .avatar {
    background: #C4C4C4;
    color: #000000;

    font-weight: bold;
    font-size: 1.2rem;
    line-height: 2.2rem;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;

    overflow: hidden;
    -webkit-user-select: none;
    user-select: none;

    width: 3.2rem;
    height: 3.2rem;

    border-radius: 100%;
}

/* MENU */
.dashboard-container .item .menu { display: flex; }

.dashboard-container .item .menu button {
    margin-inline-end: 2rem;
    border: none;
}
