.dashboard-container {
    width: 100%;
    height: 100%;

    background-color: #F0F0F0;
}

.dashboard-container main {
    padding: 4rem;
}

.dashboard-container .list {
    display: flex;
    flex-direction: column;
    gap: 1.4rem;

    background-color: #FCFCFC;
    border-radius: 0 0 1.6rem 1.6rem;

    padding: 4rem;
}

/* INPUT */
.dashboard-container .search {
    width: 60%;
    font-weight: normal;
    background-color: #E2E4E9;
}

.dashboard-container .search-button {
    position: absolute;
    background-color: transparent;

    top: 50%;
    left: calc(60% - 1.8rem);
    transform: translate(-100%, -50%);
}
