.dashboard-container {
    width: 100%;
    height: 100%;

    background-color: #F0F0F0;
}

.dashboard-container main {
    padding: 4rem;
}

.dashboard-container .list {
    display: flex;
    flex-direction: column;
    gap: 1.4rem;

    background-color: #FCFCFC;
    border-radius: 0 0 1.6rem 1.6rem;

    padding: 4rem;
}

/* INPUT */
.dashboard-container .search {
    width: 60%;
    font-weight: normal;
    background-color: #E2E4E9;
}

.dashboard-container .search-button {
    position: absolute;
    background-color: transparent;

    top: 50%;
    left: calc(60% - 1.8rem);
    transform: translate(-100%, -50%);
}

/* ITEM */
.dashboard-container .item {
    display: grid;
    grid-template-columns: minmax(20rem, 1fr) 16rem 2fr 17.4rem 7rem;

    gap: 6rem;

    background-color: #eeeeee;
    border-radius: 1.6rem;
}

/* TITLE */
.dashboard-container .item .title {
    display: flex;
    flex-direction: column;
    justify-content: center;

    text-align: start;
    margin-left: 2rem;
}

.dashboard-container .item .title p {
    font-size: 1.4rem;
    line-height: 2rem;
    letter-spacing: 0.075rem;

    color: #6C7892;
}

.dashboard-container .item .title p:first-of-type { font-weight: bold; }
.dashboard-container .item .title p:last-of-type { color: #828282; }

/* BADGE */
.dashboard-container .item .status {
    display: flex;
    justify-content: center;

    align-items: center;
}

/* DESCRIPTION */
.dashboard-container .item > div:not(.description) { flex-shrink: 0; }
.dashboard-container .item .description {
    display: grid;
    position: relative;
    flex-grow: 1;

    align-items: center;
}

.dashboard-container .item .description p {
    word-wrap: break-word;

    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;

    text-align: start;
    max-height: calc(3 * 1.6rem);

    font-size: 1.2rem;
    line-height: 1.6rem;
    letter-spacing: 1px;
}

.dashboard-container .item .description span { font-weight: bold; }

/* MEMBERS */
.dashboard-container .item .members {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;

    padding: 1.2rem 1.6rem 0.8rem 1.2rem;
    background: #F5F5F5;
}

.dashboard-container .item .members p {
    text-align: start;
    color: #6C7892;

    font-weight: bold;
    font-size: 1.2rem;
    line-height: 1.6rem;
}

.dashboard-container .item .members .avatars {
    display: flex;

    justify-content: start;
    align-items: center;

    gap: 0.6rem;
}

/* MENU */
.dashboard-container .item .menu {
    display: flex;
    align-items: center;
}

.dashboard-container .item .menu button {
    margin-inline-end: 2rem;
    border: none;
}
