.login-container {
    width: 100%;
    height: 100%;

    background-color: #FCFCFC;
    padding: 4rem;

    display: flex;
    justify-content: center;
    gap: 6rem;
}

.login-container .banner {
    border-radius: 1.6rem;
    height: calc(100vh - 8rem);
}

.login-container fieldset {
    text-align: start;
    border: 0;
}

.login-container legend {
    color: #28303B;
    font-size: 3.6rem;
    font-weight: bold;

    padding: 7rem 0 3rem 0;
}

.login-container .subtitle {
    font-size: 1.8rem;
    color: #6C7892;

    padding-bottom: 9rem;
}

.login-container .emphasis { font-weight: bold; }

.login-container .fields {
    display: flex;
    flex-direction: column;

    gap: 3rem;
}

.login-container .toggle {
    position: absolute;

    top: 50%;
    right: 1.8rem;
    transform: translateY(-50%);
}

.login-container .toggle img {
    width: 80%;
    margin: auto;
}
