.login-container {
    width: 100%;
    height: 100%;

    background-color: #FCFCFC;
    padding: 4rem;

    display: flex;
    justify-content: center;
    gap: 6rem;
}

.login-container .banner {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 70rem;
    border-radius: 1.6rem;

    background-image: url('/assets/images/banner.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    background-color: currentcolor;
}

.login-container .banner h1 {
    color: #FCFCFC;

    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    font-size: 8.6rem;
    line-height: 6.5rem;

    margin-top: 6.2rem;
    margin-bottom: 4rem;
}

.login-container .banner h1 span { color: #FEAD00; }

.login-container .banner p {
    max-width: 40rem;

    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 3rem;

    color: #FCFCFC;
}

.login-container fieldset {
    text-align: start;
    border: 0;
}

.login-container legend {
    color: #28303B;
    font-size: 3.6rem;
    font-weight: bold;

    padding: 7rem 0 3rem 0;
}

.login-container .subtitle {
    font-size: 1.8rem;
    color: #6C7892;

    padding-bottom: 9rem;
}

.login-container .emphasis { font-weight: bold; }

.login-container .fields {
    display: flex;
    flex-direction: column;

    gap: 3rem;
}

.login-container input::placeholder { color: transparent; }

.login-container .toggle {
    position: absolute;

    top: 50%;
    right: 1.8rem;
    transform: translateY(-50%);
}

.login-container .toggle img {
    width: 80%;
    margin: auto;
}
