.button {
    align-self: flex-end;

    width: 16rem;
    padding: 1rem 1.6rem;
    gap: 1.2rem;

    background-color: #FEAD00;
    color: #37474F;

    box-shadow: 0 .8rem 1.6rem 0 #1111111A;
    border: none;
    border-radius: 1.2rem;

    font-weight: bold;
    font-size: 1.6rem;
    letter-spacing: 0.075rem;

    transition: background-color 200ms;
}

.button:not(:disabled):hover {
    background-color: #CC8B00;
    color: #FCFCFC;
}

.button:not(:disabled):active {
    background-color: #996800;
    color: #FCFCFC;
}

.button:disabled {
    background-color: #d6d8de;
    cursor: not-allowed;
}
